@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-tertiary;
  }
}

@layer utilities {
  .button {
    @apply bg-secondary px-4 rounded-md;
  }

  .checkbox:checked ~ div > img {
    @apply opacity-100;
  }

  .login-input {
    @apply flex gap-2 my-3 items-center;
  }

  .login-input > input[type="text"],
  .login-input > input[type="password"] {
    @apply rounded-md px-2 py-2 bg-primary focus:bg-slate-200 focus:outline-none;
  }
}

#root {
  height: 100vh;
}

/* Scrollbar hidden */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: hidden;
}

/* Styling on scrollbar */
.scrollbar-style {
  scrollbar-width: thin;
}

.scrollbar-style::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

.scrollbar-style::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: #d9d9d9;
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background: #a4a4a4;
  border-radius: 100vh;
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
